<<<<<<< HEAD:server/Naot Limudim Manage/Views/Users/Details.cshtml
﻿@model Naot_Lemida_Manage_V2.Models.ApplicationUser

@{
    ViewBag.Title = "פרטי המשתמש";
}

<h2>פרטי המשתמש</h2>

<div>
    <h4>משתמש</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("שם משתמש")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearOfStudy.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearOfStudy.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.School.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.School.Name)
        </dd>

        <dt>
            @Html.DisplayName("תפקיד")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdentityRole.Name)
        </dd>
    </dl>
</div>
=======
﻿@model Naot_Lemida_Manage_V2.Models.ApplicationUser

@{
    ViewBag.Title = "פרטי המשתמש";
}

<h2>פרטי המשתמש</h2>

<div>
    <h4>משתמש</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("שם משתמש")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearOfStudy.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearOfStudy.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.School.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.School.Name)
        </dd>

        <dt>
            @Html.DisplayName("תפקיד")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdentityRole.Name)
        </dd>
    </dl>
</div>
>>>>>>> 8cbf1b4a2470f83c1ccc3768d1841cd020cfc01a:server/Naot Limudim Manage/Views/Users/Details.cshtml
