@model IEnumerable<Naot_Lemida_Manage_V2.Models.ApplicationUser>

@{
    ViewBag.Title = "רשימת משתמשים";
}

<h2>רשימת משתמשים</h2>
<div class="container">
</div>
<link href='@Url.Content("~/Content/themes/base/all.css")' rel="stylesheet" type="text/css" />
<p>
    @Html.ActionLink("לצור משתמש חדש", "Register", "Account", new { }, new { @class = "viewDialog", data_dialog_title = "יצירת משתמש" })
</p>
@section Scripts {
  <script>
    $(document).ready(function () {

        $.ajaxSetup({ cache: false });

        $(".viewDialog").on("click", function (e) {

            e.preventDefault();
            $("<div></div>")
                .addClass("dialog")
                .appendTo("body")
                .dialog({
                    title: $(this).attr("data-dialog-title"),
                    close: function () { $(this).remove() },
                    modal: true,
                    width: 500,
                    height: 600,
                    show:
                    {
                        effect: 'clip',
                        duration: 450
                    },
                    hide:{
                        effect: 'clip',
                        duration: 450
                    },
                    showOpt: { direction: 'up' }
                })
                .load(this.href);
        });
        $(".close").on("click", function (e) {
            e.preventDefault();
            $(this).closest(".dialog").dialog("close");
        });
    });
</script>

    <script src='@Url.Content("~/Scripts/jquery-1.10.2.min.js")' type="text/javascript"></script>
    <script src='@Url.Content("~/Scripts/jquery-ui-1.11.4.min.js")' type="text/javascript"></script>
}
<h3>רשימת מנהלים</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("N")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th></th>
    </tr>
@{int counter = 0;}
@foreach (var item in Model)
{
    if (item.IdentityRole.Name.Equals("מנהל"))
    {
    <tr>
        <td>
            @counter
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>


        <td>
            @Html.ActionLink("ערוך", "Edit", "Users", new {id=item.Id }, new { @class = "viewDialog", data_dialog_title = "עריכת פרטי משתמש" }) |
            @Html.ActionLink("הצג פרטים", "Details", "Users", new { id = item.Id }, new { @class = "viewDialog", data_dialog_title = "הצגת פרטי משתמש" }) |
            @Html.ActionLink("מחק", "Delete", "Users", new { id = item.Id }, new { @class = "viewDialog", data_dialog_title = "מחיקת משתמש" })
        </td>
    </tr>
        counter++;
    }
}

</table>
<br><br>
<h3>רשימת רכזים</h3>
@{counter = 1;}
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("N")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.School.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.IdentityRole.Name.Equals("רכז"))
        {
            <tr>
                <td>
                    @counter
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.School.Name)
                </td>
                <td>
                    @Html.ActionLink("ערוך", "Edit", "Users", new { id = item.Id }, new { @class = "viewDialog", data_dialog_title = "עריכת פרטי משתמש" }) |
                    @Html.ActionLink("הצג פרטים", "Details", "Users", new { id = item.Id }, new { @class = "viewDialog", data_dialog_title = "הצגת פרטי משתמש" }) |
                    @Html.ActionLink("מחק", "Delete", "Users", new { id = item.Id }, new { @class = "viewDialog", data_dialog_title = "מחיקת משתמש" })
                </td>
            </tr>
            counter++;
        }
    }

</table>
<br><br>
<h3>רשימת מורים</h3>
@{counter = 1;}
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("N")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.School.Name)
        </th>
        <th>
            @Html.DisplayName("תפקיד")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearOfStudy.Year)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.IdentityRole.Name.Equals("מורה"))
        {
            <tr>
                <td>
                    @counter
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.School.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdentityRole.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YearOfStudy.Year)
                </td>
                <td>
                    @Html.ActionLink("ערוך", "Edit", "Users", new { id = item.Id }, new { @class = "viewDialog", data_dialog_title = "עריכת פרטי משתמש" }) |
                    @Html.ActionLink("הצג פרטים", "Details", "Users", new { id = item.Id }, new { @class = "viewDialog", data_dialog_title = "הצגת פרטי משתמש" }) |
                    @Html.ActionLink("מחק", "Delete", "Users", new { id = item.Id }, new { @class = "viewDialog", data_dialog_title = "מחיקת משתמש" })
                </td>
            </tr>
            counter++;
        }
    }

</table>
<br><br>
<h3>רשימת תלמידים</h3>
@{counter = 1;}
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("N")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.School.Name)
        </th>
        <th>
            @Html.DisplayName("תפקיד")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearOfStudy.Year)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.IdentityRole.Name.Equals("תלמיד"))
        {
            <tr>
                <td>
                    @counter
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.School.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdentityRole.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YearOfStudy.Year)
                </td>
                <td>
                    @Html.ActionLink("ערוך", "Edit", "Users", new { id = item.Id }, new { @class = "viewDialog", data_dialog_title = "עריכת פרטי משתמש" }) |
                    @Html.ActionLink("הצג פרטים", "Details", "Users", new { id = item.Id }, new { @class = "viewDialog", data_dialog_title = "הצגת פרטי משתמש" }) |
                    @Html.ActionLink("מחק", "Delete", "Users", new { id = item.Id }, new { @class = "viewDialog", data_dialog_title = "מחיקת משתמש" })
                </td>
            </tr>
            counter++;
        }
    }

</table>
