@model Naot_Lemida_Manage_V2.Models.School

@{
    ViewBag.Title = "מחיקת מוסד";
}

<h2>מחיקת מוסד</h2>

<h3>האם את/ה בטוח/ה שברצונך למחוק מוסד זה?</h3>
<div>
    <h4>מוסד</h4>
    <hr />
    <dl class="dl-horizontal">
       

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.City.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="מחק" class="btn btn-default" /> 
            
        </div>
    }
</div>
