@model Naot_Limudim_Manage.Models.Present

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Present</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CLass.Topic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLass.Topic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pupil.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pupil.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPresent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPresent)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
