@model Naot_Lemida_Manage_V2.Models.RegisterViewModel
@{
    ViewBag.Title = "הרשמה";
}
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <script>
        $(document).ready(function () {
            $("#divEmail").hide();
            $("#divPassword").hide();
            $("#divConfirmPassword").hide();
            $("#divName").hide();
            $("#divLastName").hide();
            $("#divPhone").hide();
            $("#divMail").hide();
            $("#divSchoolID").hide();
            $("#divYearOfStudyID").hide();
            $("#IdentityRoleID").change(function ()
            {
                $("#Email").val("");
                $("#Password").val("");
                $("#ConfirmPassword").val("");
                $("#Name").val("");
                $("#LastName").val("");
                $("#Phone").val("");
                $("#Mail").val("");
                $("#SchoolID option:contains('לא רלוונטי')").attr('selected', 'selected');
                $("#YearOfStudyID option:contains('לא רלוונטי')").attr('selected', 'selected');
                $("#IdentityRoleID option:contains('בחר תפקיד')").remove();

                if ($("#IdentityRoleID option:selected").val() === "מנהל")
                {
                    $("#divEmail").show();
                    $("#divPassword").show();
                    $("#divConfirmPassword").show();
                    $("#divName").show();
                    $("#divLastName").show();
                    //hide
                    $("#divPhone").hide();
                    $("#Phone").val("0000");
                    $("#divMail").hide();
                    $("#Mail").val("notneeded@notneeded.com");
                    $("#divSchoolID").hide();
                    $("#divSchoolID option:contains('לא רלוונטי')").attr('selected', 'selected');
                    $("#divYearOfStudyID").hide();
                    $("#divYearOfStudyID option:contains('לא רלוונטי')").attr('selected', 'selected');
                }
                if ($("#IdentityRoleID option:selected").val() === "רכז") {
                    $("#divEmail").show();
                    $("#divPassword").show();
                    $("#divConfirmPassword").show();
                    $("#divName").show();
                    $("#divLastName").show();
                    $("#divPhone").show();
                    $("#divSchoolID").show();
                    //hide
                    $("#divYearOfStudyID").hide();
                    $("#divYearOfStudyID option:contains('לא רלוונטי')").attr('selected', 'selected');
                    $("#divMail").hide();
                    $("#Mail").val("notneeded@notneeded.com");
                }
                if ($("#IdentityRoleID option:selected").val() === "מורה") {
                    $("#divEmail").show();
                    $("#divPassword").show();
                    $("#divConfirmPassword").show();
                    $("#divName").show();
                    $("#divLastName").show();
                    $("#divPhone").show();
                    $("#divSchoolID").show();
                    $("#divMail").show();
                    //hide
                    $("#divYearOfStudyID").hide();
                    $("#divYearOfStudyID option:contains('לא רלוונטי')").attr('selected', 'selected');
                }
                if ($("#IdentityRoleID option:selected").val() === "תלמיד") {
                    $("#divEmail").show();
                    $("#divPassword").show();
                    $("#divConfirmPassword").show();
                    $("#divName").show();
                    $("#divLastName").show();
                    $("#divPhone").show();
                    $("#divSchoolID").show();
                    $("#divMail").show();
                    $("#divYearOfStudyID").show();
                    //hide
                    $("#divMail").hide();
                    $("#Mail").val("notneeded@notneeded.com");
                }
            });

        });
    </script>
<h2>הרשמה</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form"}))
{
    @Html.AntiForgeryToken()
    <h4>יצירת חשבון חדש<br></h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.IdentityRoleID, "בחר תפקיד", htmlAttributes: new { @class = "control-label col-md-2", @dir = "rtl" })
        <div class="col-md-10">
            @Html.DropDownList("IdentityRoleID", "בחר תפקיד")
        </div>
    </div>
    <div id="divEmail" class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div id="divPassword" class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div id="divConfirmPassword" class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div id="divName" class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
    </div>
    <div id="divLastName" class="form-group">
        @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
        </div>
    </div>
    <div id="divPhone" class="form-group">
        @Html.LabelFor(m => m.Phone, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
        </div>
    </div>
    <div id="divMail" class="form-group">
        @Html.LabelFor(m => m.Mail, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Mail, new { @class = "form-control" })
        </div>
    </div>
    <div id="divSchoolID" class="form-group">
        @Html.LabelFor(model => model.SchoolID, "מוסד", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("SchoolID", "בחר מוסד")
        </div>
    </div>
    <div id="divYearOfStudyID" class="form-group">
        @Html.LabelFor(model => model.YearOfStudyID, "כיתה", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("YearOfStudyID", "בחר כיתה")
        </div>
    </div>
}

</body>